<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-icons">
      <a href="/validation/" title="WCAG 2.2 AA Compliance">
        <img src="/images/icons/wcag2.2AA-blue.png" alt="WCAG 2.2 AA Compliant">
      </a>
      <a href="/validation/" title="Valid CSS">
        <img src="/images/icons/vcss-blue.png" alt="Valid CSS">
      </a>
      <a href="https://www.cloudflare.com/" title="Hosted on Cloudflare" target="_blank" rel="noopener">
        <img src="/images/icons/cloudflare.png" alt="Hosted on Cloudflare">
      </a>
    </div>
    <p class="copyright">&copy; 2000&ndash;{{ now.Year }} {{ .Site.Params.copyright | default .Site.Title }}. All Rights Reserved.</p>
  </div>
</footer>
